<div class="image">
  <div class="image-contents">
    <a href="post.html"><img src={{imgURL}} alt={{description}}></a>
    <div class="image-info-container">
      <a href="#" class="image-title">{{description}}</a>
      <div class="image-info-container-tags-dates">
        <span class="image-tags">#{{tag1}} #{{tag2}} #{{tag3}}</span>
        <span class="image-date">{{date}}</span>
      </div>
      <div id="image-comments">
        Comments:
        <div class="image-comment">{{comment1}}</div>
        <div class="image-comment">{{comment2}}</div>
      </div>
      <div id="add-comment">
        <label for="add-comment-input" class="comment-label">Comment</label>
        <input type="text" name="add-comment-label" id="add-comment-input" class="comment-label">
      </div>
    </div>
  </div>
</div>
