<div class="image">
  <div class="image-contents">
    <a href={{id}}><img src={{imgURL}} alt={{description}}></a>
    <div class="image-info-container">
      <a href="#" class="image-title">{{description}}</a>
      <div class="image-info-container-tags-dates">
        {{#each tags}}
        <span class="image-tags">#{{this}}</span>
        {{/each}}
        <span class="image-date">{{date}}</span>
      </div>
      <div id="image-comments">
        Comments:
        {{#each comments}}
          <div class="image-comment">{{this}}</div>
        {{/each}}
      </div>
      <div id="add-comment">
        <label for="add-comment-input" class="comment-label">Comment</label>
        <input type="text" name="add-comment-label" id="add-comment-input" class="comment-label">
        <button id= "comment-button" class="action-button">Comment</button>
      </div>
    </div>
  </div>
</div>
